node_modules/
Backend/node_modules/
Frontend/node_modules/
Reastaurent-Admin/Backend/node_modules/
Reastaurent-Admin/Frontend/node_modules/
Reastaurent-customer/Backend/node_modules/
Reastaurent-customer/Frontend/node_modules/





dist/
build/
.vercel/
