PORT=15020
DATABASE_URL=postgresql://username:password@host/database?sslmode=require
REALTIME_DATABASE_URL=postgresql://username:password@direct-host/database?sslmode=require
JWT_SECRET=super_secret_key_123
REFRESH_TOKEN_SECRET=super_secret_key_123
TOKEN_EXPIRES_IN=1h
REFRESH_TOKEN_EXPIRES_IN=7d
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret
STRIPE_MIN_INR_AMOUNT=50
