# Use deployed backend
VITE_API_BASE_URL=https://cafe-customer-backend.onrender.com/api
VITE_MENU_UPDATES_WS_URL=wss://cafe-customer-backend.onrender.com/ws

# Use local backend
# VITE_API_BASE_URL=http://localhost:15020/api
# VITE_MENU_UPDATES_WS_URL=ws://localhost:15020/ws
